{% extends "base.html" %}


{% from "render.html" import render_pagination %}


{% block content %}
    {% if description is defined and description %}
        <p>{{ description }}</p>
    {% endif %}
    {% if debug is defined and debug %}
    <div>{{ table }}</div>
    {% endif %}
    {% if objects %}
    {{ render_pagination(objects, request.endpoint) }}
    <table>
        <thead>
            <tr>{% for column in table.columns %}
                <th>{{ column.header }}</th>
            {% endfor %}</tr>
        </thead>
        <tbody>{% for obj in objects %}
            {% if instance_links %}
                {% set data_href = url_for(table.model.__tablename__ + '.instance', id=obj.id) %}
            {% else %}
                {% set data_href = none %}
            {% endif %}
            <tr{% if data_href %} data-href="{{ data_href }}{% endif %}">{% for column in table.columns %}
                <td>{% if value is not none %}{{ column.renderer(obj) }}{% endif %}</td>
            {% endfor %}</tr>
        {% endfor %}</tbody>
    </table>
    {{ render_pagination(objects, request.endpoint) }}
    {% else %}
    <p>Nothing to show</p>
    {% endif %}
{% endblock %}
