*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
}

td {
    vertical-align: top;
}

p {
    max-width: 50vw;
}

pre {
    font-size: 1rem;
}

/*
pre.message_string {
    line-height: 1rem;
    max-height: calc(1rem * 10);
    overflow: scroll;
}
*/

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0;
}

a {
    text-decoration: none;
}

a.current {
    color: darkgreen;
    text-decoration: underline;
}

[data-href]:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.pagination * {
    display: inline-block;
    min-width: 4ch;
}
